<div class="giscus"></div>

<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo="T1T4N/T1T4N.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyNDE1OTMzNTQ="
  data-category="General"
  data-category-id="DIC_kwDODmZsCs4CgShi"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  crossorigin="anonymous"
  async></script>
